{%extends 'blog/main.html'%}
{% block main_section %}
<h2>Все статьи автора {{ view.kwargs.username }}</h2>
    {%for post in news%}
        <div class="alert alert-light">
            <h1>{{post.title}}</h1>
            <p>{{post.text|striptags|truncatechars:250 }}</p>
             <div class="row">
                <div>
                    {% if post.autor.profile.img %}
                       <img src="{{ post.autor.profile.img.url }}" alt="{{ post.autor }}"  class="user_image">
                    {% else %}
                       <img src=" /pictures/default.jpg" alt="{{ post.autor }}"  class="user_image">
                    {% endif %}
                </div>
                <div class="mt-2">
                    <span class="text-muted"><b>Опубликовано:</b> {{post.date|date:"d E Y, в H:i"}}</span>
                    <p><b>Автор:</b> <mark>{{post.autor}}</mark></p>
                </div>
             </div>
            <a href="{% url 'news-detail' post.id %}" class="btn btn-outline-warning">Читать далее</a>
        </div>
    {% endfor %}

    {% if is_paginated %}
       {% if page_obj.has_previous %}
           <a href="/" class="btn btn-outline-warning">Начало</a>
           <a href="?page={{ page_obj.previous_page_number }}" class="btn btn-outline-warning">Предыдущая</a>
       {% endif %}
       {% for num in page_obj.paginator.page_range %}
          {% if num == page_obj.number %}
             <button class="btn btn-warning">{{num}}</button>
          {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
             <a href="?page={{ num }}" class="btn btn-outline-warning">{{ num }}</a>
          {% endif %}
       {% endfor %}
       {% if page_obj.has_next %}
           <a href="?page={{ page_obj.next_page_number }}" class="btn btn-outline-warning">Следующая</a>
           <a href="?page={{ page_obj.paginator.num_pages }}" class="btn btn-outline-warning">Последняя</a>
       {% endif %}
    {% endif %}
{% endblock main_section %}

{% block aside_news_section%}
<h3><b>Новости биологии и медицины</b></h3>
    <img src="https://sun9-38.userapi.com/impg/c858224/v858224332/236d11/qSJHfSC8ZD8.jpg?size=604x453&quality=96&sign=54ac41f1351538e91af7dbfce75b89b3&type=album" class="img-thumbnail mb-1">
        <p>
            Смертность от пандемии в странах Африки к югу от Сахары (т.н. «Черная Африка») — остается заметно ниже по сравнению с Америками, Европой и Азией.
            Взять Зимбабве. Страну с населением 16 млн человек.
            При этом по количеству смертей от ковида на 1 млн человек — они на 128 месте в мире. То есть, ситуация хуже, чем в Японии или Сингапуре,
            но намного лучше, чем в Канаде, Турции, Армении или Монако.
            Почему так? Ученые до сих пор бьются над этим вопросом, но несколько последних исследований позволяют прийти к довольно странному выводу…
        </p>
        <a href="https://habr.com/ru/company/itsoft/blog/591185/" target="-blank">
           <button class="btn btn-warning">Посмотреть</button>
        </a>
    <img src="https://semyablog.ru/800/600/https/www.gannett-cdn.com/presto/2019/03/05/USAT/3db3bf0b-bbb0-4604-8ad7-44ab0b779705-GettyImages-642619430.jpg" class="img-thumbnail mb-1">
        <p>
            Россия разрешила прививать «Спутником» детей 12-17 лет
        </p>
        <a href="https://nplus1.ru/news/2021/11/24/sputnik-children" target="-blank">
           <button class="btn btn-warning">Посмотреть</button>
        </a>
{%endblock aside_news_section%}

